.carouselImage {
  width: 90%;
  height: 600px;
  object-fit: cover;
  margin-left: 5%;
  margin-top: 15px;
  border-radius: 10px;
  filter: grayscale(20%) brightness(80%);
}

.happyTravels {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.h3Text {
  width: 60%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.p1Text {
  width: 60%;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(0%, -50%);
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.exploreButton {
  position: absolute;
  top: 77%;
  left: 80%;
}

.onTimeHeading {
  color: black;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.onTimeDiv {
  width: 70%;
  height: 300px;
  padding: 20px;
  margin: 0 15%;
}

.cartoonImage {
  float: left;
  width: 20%;
  height: 80%;
  margin-right: 100px;
  border-radius: 5px  ;
}

.onTimeText {
  font-size: 1.2rem;
  line-height: 1.5;
}

.ourServicesDiv {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0
}
.ourServicesHeading {
  font-size: 2.5rem;
  color: black;
  text-decoration: underline;
}
.servicesCards {
  width: 23%;
}

