
.heroSection {
  position: relative;
  width: 90%;
  margin: 15px auto;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
}

.carouselImage {
  width: 100%;
  height: 600px;
  object-fit: cover;
  filter: grayscale(20%) brightness(70%);
  z-index: 1;
}

.heroContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: white;
  z-index: 2;
  top: 5%;
  gap: 20px;
  font-size: 1.5rem;
}

.heroContent h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.onTimeHeading {
  color: black;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.onTimeDiv {
  width: 70%;
  height: 300px;
  padding: 20px;
  margin: 0 15%;
}

.cartoonImage {
  float: left;
  width: 20%;
  height: 80%;
  margin-right: 100px;
  border-radius: 5px;
}

.onTimeText {
  font-size: 1.2rem;
  line-height: 1.5;
}

.ourServicesDiv {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
}
.ourServicesHeading {
  font-size: 2.5rem;
  color: black;
  text-decoration: underline;
}
.servicesCardsDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.servicesCards {
  width: 23%;
}

.experienceMainDiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  padding: 50px 0;
}

.experienceDiv1,
.experienceDiv2 {
  width: 47%;
}

.experienceDiv1 {
  text-align: center;
}

.experienceHeading {
  font-size: 3.5rem;
}
.parkingCarImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 15px;
}

.experienceImgsDiv {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

.experienceImgs {
  width: 49%;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}

.experiencePara,
.whyUsPara {
  font-size: 1.2rem;
  line-height: 1.5;
}

.whyUsDiv {
  display: flex;
  margin-top: 50px;
  background-color: #ece8e8;
  justify-content: center;
  padding: 50px 0;
}

.whyUsImgDiv {
  width: 50%;
  margin-left: 2%;
}

.whyUsRow1Imgs {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.whyUsRow2Imgs {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.whyUsParaDiv {
  width: 45%;
  padding: 0 20px;
  margin-top: 50px;
}


@media (max-width: 576px) {
  .carouselImage {
    height: 55px;
  }

  .heroContent {
    top: 0px;
  }

  .heroContent h2 {
    font-size: 1.2rem;
  }

  .heroContent h3 {
    font-size: 1.5rem;
  }

  .heroContent p {
    font-size: 0.9rem;
  }

  .onTimeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 5%;
  }

  .cartoonImage {
    width: 40%;
    height: auto;
    margin: 20px 0;
  }

  .servicesCardsDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 10px 5%;
    padding: 50px 0;
  }

  .servicesCards {
    width: 100%;
  }

  .experienceMainDiv {
    flex-direction: column;
  }

  .experienceDiv1,
.experienceDiv2 {
  width: 100%;
}

  .experienceHeading {
  font-size: 2rem;
}

  .experienceImgsDiv {
    flex-direction: column;
  }

  .experienceImgs {
    width: 100%;
    height: auto;
  }

  .whyUsDiv {
    flex-direction: column;
  }
  .whyUsImgDiv{
  width:100%;
  margin-left: 2%;
}
.whyUsParaDiv {
  width: 100%;
}
}

@media (min-width: 577px) and (max-width: 992px) {

  .carouselImage {
    height: 500px;
  }
  .heroContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: white;
  z-index: 2;
  top: 2%;
  gap: 20px;
  font-size: 1rem;
}

.heroContent h1 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
  
.onTimeDiv {
  width: 90%;
  height: 300px;
  padding: 20px;
  margin: 0 5%;
}



.onTimeText {
  font-size: 1rem;
  line-height: 1.2;
}

  .servicesCardsDiv {
    flex-wrap: wrap;
    gap: 20px;
  }

  .servicesCards {
    width: 45%;
  }

  .experienceMainDiv {
    flex-direction: column;
  }

  .experienceDiv1,
  .experienceDiv2 {
    width: 100%;
  }

  .whyUsDiv {
    flex-direction: column;
  }
   .whyUsImgDiv{
  width:100%;
  margin-left: 2%;
}
.whyUsParaDiv {
  width: 100%;
}

}

