.carouselImage {
  width: 90%;
  height: 600px;
  object-fit: cover;
  margin-left: 5%;
  margin-top: 15px;
  border-radius: 10px;
  filter: grayscale(20%) brightness(80%);
}

.happyTravels {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.h3Text {
  width: 60%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.p1Text {
  width: 60%;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(0%, -50%);
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.exploreButton {
  position: absolute;
  top: 85%;
  left: 80%;
}

.onTimeHeading {
  color: black;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.onTimeDiv {
  width: 70%;
  height: 300px;
  padding: 20px;
  margin: 0 15%;
}

.cartoonImage {
  float: left;
  width: 20%;
  height: 80%;
  margin-right: 100px;
  border-radius: 5px;
}

.onTimeText {
  font-size: 1.2rem;
  line-height: 1.5;
}

.ourServicesDiv {
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
}
.ourServicesHeading {
  font-size: 2.5rem;
  color: black;
  text-decoration: underline;
}
.servicesCardsDiv{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.servicesCards {
  width: 23%;
}

.experienceMainDiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  padding: 50px 0;
}

.experienceDiv1,
.experienceDiv2 {
  width: 47%;
}

.experienceDiv1 {
  text-align: center;
}

.experienceHeading {
  font-size: 3.5rem;
}
.parkingCarImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 15px;
}

.experienceImgsDiv {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

.experienceImgs {
  width: 49%;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}

.experiencePara,
.whyUsPara {
  font-size: 1.2rem;
  line-height: 1.5;
}

.whyUsDiv {
  display: flex;
  margin-top: 50px;
  background-color: #ece8e8;
  justify-content: center;
  padding: 50px 0;
}

.whyUsImgDiv{
  width: 50%;
  margin-left: 2%;
}

.whyUsRow1Imgs {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.whyUsRow2Imgs {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.whyUsParaDiv {
  width: 45%;
  padding: 0 20px;
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .carouselImage{
    height: 500px;
  }
  .happyTravels{
  top: 35%;
  font-size: 1.5rem;
  }
  
  .h3Text{
  top: 50%;
  font-size: 2rem;
  }
  .p1Text{
  top: 80%;
  width: 80%;
  font-size: 1rem;
  }
  .exploreButton{
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .onTimeHeading {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .onTimeDiv {
  width: 100%;
  height: auto;
  margin-left: 5%;
}
.cartoonImage {
  float: none;
  width: 40%;
  height: 200px;
  margin-left: 28%;
  border-radius: 5px;
  padding-bottom: 20px;
}
.onTimeText {
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 0;
}
.ourServicesHeading {
  font-size: 1.5rem;
}
.servicesCards {
  width: 100%;
  margin-bottom: 20px;
}
.servicesCardsDiv {
  display: block;
  width: 90%;
  margin: 10px 5%;
  padding: 50px 0;
}
.experienceMainDiv {
  display: block;
}
.experienceDiv1,
.experienceDiv2 {
  width: 100%;
}
.experienceHeading {
  font-size: 2rem;
}
.whyUsDiv {
  display: block;
}
.whyUsImgDiv{
  width:100%;
  margin-left: 2%;
}
.whyUsParaDiv {
  width: 100%;
  margin-left: 5%;
}
}